.dashboard-stock-display {
  background: rgb(117, 223, 250);
  border-radius: 2px;
  height: 60%;
  margin: .5rem;
  position: relative;
  width: 80%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

/* .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.img-container > img {
  width: 60%
} */

.dashboard-stock-content {
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: 15px;
}

.dashboard-stock-content > ul {
  list-style-type: none;
  margin-left: -15px;
}

.dashboard-stock-content > ul > li {
  margin-top: 10px;
}

.stocklist-symbol,
.stocklist-name {
  font-size: 18px;
}

.dashboard-price-button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dashboard-save-button {
  margin-top: -10px;
  margin-bottom: 5px
}

