.dashboard-stock-display {
  background: rgb(5, 133, 165);
  border-radius: 2px;
  height: 330px;
  margin: .5rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

/* .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.img-container > img {
  width: 60%
} */

.dashboard-stock-content {
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: 15px;
}

.dashboard-stock-content > ul {
  list-style-type: none;
}

.dashboard-stock-content > ul > li {
  margin-top: 10px;
}

