.card-deck,
.card-display {
  margin-top: 50px;
  text-align: center;
}

.card-chart-display {
  margin: 0 auto;
  margin-top: 50px;
  /* width: 730px; */
  height: 500px;
}

.card-text-display {
  margin: 0 auto;
  margin-top: 50px;
}

.trending-stock-title,
.trending-forex-title,
.trending-crypto-title,
.trending-chart-title,
.trending-text-title {
  font-size: 24px;
}

@media screen and (max-width: 992px) {
  .card-chart-display {
    height: 540px;
  }
}

@media screen and (max-width: 768px) {
  .stock-card,
  .forex-card {
    margin-bottom: 20px;
  }

  .card-chart-display {
    height: 540px;
  }
}

@media screen and (max-width: 576px) {
  .card-chart-display {
    height: 560px;
  }
}

@media screen and (max-width: 387px) {
  .card-chart-display {
    height: 600px;
  }
}
